<link rel="stylesheet" href="/styles.css" />
<div class="container">
<h2>Tambah Pekerjaan</h2>
<form method="POST" action="/user/add">
    <input name="job_name" placeholder="Nama Pekerjaan" required><br>
    <input type="date" name="start_date" required><br>
    <input type="date" name="deadline" required><br>
    <button type="submit">Submit</button>
</form>
